.navbar {
  background-color: #027a9f !important;
  color: #ffaa01;
}

.nav-link {}

.nav-item a {
  font-weight: bold;
  color: #027a9f;
}

.nav-item a:hover {
  font-weight: bold;
  color: red;
}

.navbar-toggler {
  border: 2px solid #ffaa01 !important;
}
